.rightmaindiv
{
    height: 100vh;
    flex: 1;
    padding-left: 20px;
    
}

@media (max-width: 640px) {


.rightmaindiv
{
    height: auto;
    padding: 0;
    margin: 0;
    
}


}

@media (min-width: 641px) and (max-width: 1080px) {
  .rightmaindiv {
    display: none;
  }
}
